template(name='matchScene')
    .match-container

        .match-options

            .players-container

                each players
                    button.player-button.choose-player #{number}

            .match-options-actions

        .match-actions

            .action-title

            .action-container

                with currentPlayer

                    button.action-button.good(name='spike')
                        |#{stats.spike.good}
                        |Spike
                    button.action-button.none(name='spike')
                        |#{stats.spike.none}
                        |Spike
                    button.action-button.bad(name='spike')
                        |#{stats.spike.bad}
                        |Spike
                    button.action-button.good(name='block')
                        |#{stats.block.good}
                        |Block
                    button.action-button.none(name='block')
                        |#{stats.block.none}
                        |Block
                    button.action-button.bad(name='block')
                        |#{stats.block.bad}
                        |Block
                    button.action-button.good(name='service')
                        |#{stats.service.good}
                        |Service
                    button.action-button.none(name='service')
                        |#{stats.service.none}
                        |Service
                    button.action-button.bad(name='service')
                        |#{stats.service.bad}
                        |Service
                    button.action-button.good(name='set')
                        |#{stats.set.good}
                        |Set
                    button.action-button.none(name='set')
                        |#{stats.set.none}
                        |Set
                    button.action-button.bad(name='set')
                        |#{stats.set.bad}
                        |Set
                    button.action-button.good(name='pass')
                        |#{stats.pass.good}
                        |Pass
                    button.action-button.none(name='pass')
                        |#{stats.pass.none}
                        |Pass
                    button.action-button.bad(name='pass')
                        |#{stats.pass.bad}
                        |Pass
                    button.action-button.good(name='dig')
                        |#{stats.dig.good}
                        |Dig
                    button.action-button.none(name='dig')
                        |#{stats.dig.none}
                        |Dig
                    button.action-button.bad(name='dig')
                        |#{stats.dig.bad}
                        |Dig

        .match-totals

